[Unit]
Description=SMS Wallet Server
Documentation=https://github.com/polymorpher/sms-wallet/
After=network.target

[Service]
Environment=PORT=80 HTTPS_PORT=443
Type=simple
User=polymorpher
WorkingDirectory=/home/polymorpher/sms-wallet/server
ExecStart=/usr/bin/node /home/polymorpher/sms-wallet/server/bin/run.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
