.session

logs
*.log
node_modules/
.eslintcache
.env
.env.*
.yarn/

/certs/*
!/certs/README.md
!/certs/gen.sh
backup.eslintrc.js
/cache
/es.env
/scripts/es.sh
/credentials/*

/dist
/build.sh
/deploy.sh

/ssh.sh